#leadercol,#addbooks,#pageStuff,
.controlBody{display:none}
.actionLink,.actionLinkLite,.button,.shelfChooserLink{display:none}
a{text-decoration:none;color:black}
th,td{vertical-align:top}
.noCoverMediumContainer{padding:0px;height:150px;width:111px;overflow:hidden;border:1px solid grey}
.noCoverMediumContainer img{display:none}
.noCoverMediumImage{text-align:center;color:#6F6542;overflow:hidden;top:0;left:0;margin-left:0}
.noCoverMediumImage .title{font-weight:bold;font-size:10px}
.noCoverMediumImage .author{font-size:9px;font-style:italic;line-height:1.6;display:inline-block}
.noCoverDividingLine{height:0px;margin:4px 25px;border-bottom:1px solid #6F6542}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}